h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.container-find-patient{
    width:30%;
}

.col-patient-details{
    width:100%
}

.container-patient-details{
    width: 50%;
    margin-right:auto;
    margin-left: auto;
}

.col-rows{
    width:auto;
}

.panel-add-new-patient{
    width:50%;
    margin: auto;
}

.container-footer{
    float:left;
}

.disabled{
    display: none;
}